* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    padding: 20px;
    font-size: 16px;
}

ul {
    list-style: none;
}

.title {
    font-size: .8rem;
    margin-bottom: 20px;
}

.tabs-widget {
    margin: 20px 0;
}

.tabs-widget .is-active {
    color: red;
}

.tabs-widget .content:not(.is-active) {
    display: none;
}
